*{
    box-sizing: border-box;
}
body{
    background: whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
    align-content: center;
}
div{
    position: relative;
    background-color: rgb(248, 248, 247);
    top: 50px;
    margin: auto;
    padding: 25px 30px;
    border: 1px solid rgba(145, 144, 144, 0.3);
    border-radius: 10px;
    width: 470px;
}
.sign{
    color: black;
    font-weight: 900;
    font-size: 20px;
}
.p2{
    color: black;
    font-weight: 550;
}
.floatLeft{
    float: right;
}
.enter{
    width: 405px;
    height: 39px;
    background-color:rgb(248, 248, 247) ;
    border-radius: 5px;
    border: 1px solid rgba(145, 144, 144, 0.3);
}
.pass{
    border: 0;
    background-color: inherit;
    cursor: pointer;
}
.anchor{
    color: rgb(2, 88, 2);
    text-decoration: none;
}
.anchor2{
    color: rgba(145, 144, 144, 0.8);
}
.anchor:hover{
    color: rgb(2, 88, 2);
}
label{
    color: rgba(14, 13, 13, 0.8);
}
.submitForm{
    margin: 3px 20px;
    width: 350px;
    height: 40px;
    background-color: rgb(2, 88, 2);
    border: 1px solid rgb(2, 88, 2);
    border-radius: 20px;
    color: rgb(248, 248, 247);
    font-weight: 500;
    cursor: pointer;
}
.p3{
    color: rgba(12, 12, 12, 0.8);
    text-align: left;
}
.p4{
    color: rgba(145, 144, 144, 0.8);
    text-align: center;
}
@media (max-width: 600px){
    div{
        width: 350px;
    }
    button{
        width: 250px;
    }
    .enter{
        width: 290px;
    }
    .radio{
        font-size: 10px;
    }
}
@media (max-width: 400px){
    div{
        width: 240px;
    }
    button{
        width: 140px;
    }
    .enter{
        width: 180px;
    }
    .sign, .p2, .p3, .p4{
        font-size: 9px;
    }
    .radio{
        font-size: 6.5px;
    }
    input[type='radio']{
        height: 0.6em;
    }
}